@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500&display=swap');

.title {
    display: flex;
    justify-content: center;
    color: #4b2d07;
    background-color: #f8d5a7;
    font-size: 4rem;
    font-family: 'Lora', sans-serif;
    text-shadow: 3px 3px 2px #0005;
    

}

.App{
    background-position: center;
    background-repeat: "no-repeat";
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh;   */
    background-position: center;
    background-repeat: "no-repeat";
    background-size: cover;
}

.box {
    background-color: #f8d5a7;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px #000;
    max-width: 500px;
    font-family: 'Lora', sans-serif;

}

.box__quote {
    line-height: 1.5;
    margin-bottom: 1em;
    font-size: 1.5rem;
    color: #4b2d07;
}

.box__author {
    text-align: end;
    margin-bottom: 1em;
    color: #4b2d07;
}

.box__btn {
    display: block;
    margin: 20px auto;
    width: 5rem;
    height: 1.2rem;
    border-radius: 0.3rem;
    background-color: #f3ac4e;
    color: #4b2d07;
    font-weight: 600;
    font-size: 0.8rem;
    transition: transform 200ms ease;
    cursor: pointer;
}

.box__btn:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 1em #000;

}